/**
 * Icon Component Styles
 */

.ds-icon {
  display: inline-block;
  flex-shrink: 0;
  vertical-align: middle;
}

/* Sizes */
.ds-icon--12 {
  width: 12px;
  height: 12px;
}

.ds-icon--16 {
  width: 16px;
  height: 16px;
}

.ds-icon--20 {
  width: 20px;
  height: 20px;
}

.ds-icon--24 {
  width: 24px;
  height: 24px;
}
