/**
 * Icon Component Styles
 * Sizes from Figma: 12px and 16px
 */

.ds-icon {
  display: inline-block;
  flex-shrink: 0;
  vertical-align: middle;
}

/* Sizes from Figma */
.ds-icon--12 {
  width: 12px;
  height: 12px;
}

.ds-icon--16 {
  width: 16px;
  height: 16px;
}
